*{margin:0; padding:0; text-decoration:none; font-family:sans-serif;  box-sizing: border-box;}
.main{width:1170px; margin:0 auto;}
body{color:#454545;}


/* Header Starts */

header{width:100%; float:left; border-top:2px solid #038AC7; margin-bottom:8px;}
.logo{float:left; margin-top:10px;}
.navigation{float:right; margin-top:36px;}
.navigation nav{width:100%; float:left;}
.navigation nav ul{list-style-type:none;}
.navigation nav ul li{display:inline-block; font-size:14px; }
.navigation nav ul li:last-child{border-right:none;}
.navigation nav ul li a{color:#7c7b7b; padding:0px 11px;}
.navigation nav ul li span{color:#479AC3;}
.navigation nav ul li a:hover{color:#038AC7;}

/* Header Ends */


/* Section Starts */

section{width:100%; float:left; background:#f0f0f0;}


/* Login page Css Starts */

.bg_section{width:100%; float:left;  padding:77px 0 115px;}
.login-home{width:49%; margin:10px auto 0;}
.login_left{width:68%; float:left;  background:#479AC3; padding:42px; border:5px solid #FFF; border-radius:5px;}
.login-home form, .reg-home form{width:100%; float:left; margin-top:13px;}
.login-home form .firstname{width:100%; float:left;}
.login-home form .firstname input{width:100%; float:left; padding:15px; border:1px solid #CCC; outline:none; font-size:14px; box-shadow:3px 3px 5px #479AC3 inset; border-radius:5px; margin-top:18px;  background:#FFF;}
.login-home form .submit input{width:100%; float:left; padding:16px 15px; border:none; outline:none; font-size:14px; background:#038AC7; margin-top:17px; color:#FFF; text-transform:uppercase; border:1px solid #038AC7; cursor:pointer;}
.login-home form button, .reg-home form button{width:142px; margin:0 auto; display:block; padding:15px 0px; border:1px solid #479AC3; outline:none; font-size:14px; background-image: -webkit-linear-gradient(top, #f4f1ee, #fff); background-image: linear-gradient(top, #f4f1ee, #fff); border-radius: 32px; box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); background:#479AC3; color:#FFF; text-transform:uppercase; cursor:pointer;}
.btn_login{width:100%; float:left; margin:30px 0 25px;}
.login-home form button:hover, .reg-home form button:hover{background:#FFF; color:#479AC3;}
.login-home .forgot{float:left; margin:17px 0 0 0; font-size:14px;}
.login-home .forgot a{color:#fff;}
.login-home .forgot a:hover{color:#454545;}
.login-home .register{float:right; margin:17px 0 0 0; font-size:14px;}
.login-home .register a{color:#fff;}
.login-home .register a:hover{color:#454545;}


/* Social login Css Starts */

.social_login{width:100%; padding:0 27px; float:left;}
.social_facebook{width:45px; height:45px; background:#4867AA; float:left; border-radius:100%; border:2px solid #FFF; margin-right:15px; cursor:pointer;}
.social_facebook i{font-size:23px; display:block; text-align:center; margin:10px auto; color:#FFF;}
.social_twitter{width:45px; height:45px; background:#00ACED; float:left; border-radius:100%; border:2px solid #FFF; margin-right:15px;  cursor:pointer;}
.social_twitter i{font-size:23px; display:block; text-align:center; margin:10px auto; color:#FFF;}
.social_linkedin{width:45px; height:45px; background:#0077B5; float:left; border-radius:100%; border:2px solid #FFF; margin-right:15px;  cursor:pointer;}
.social_linkedin i{font-size:23px; display:block; text-align:center; margin:10px auto; color:#FFF;}
.social_google{width:45px; height:45px; background:#EA4335; float:left; border-radius:100%; border:2px solid #FFF; margin-right:15px;  cursor:pointer;}
.social_google i{font-size:23px; display:block; text-align:center; margin:10px auto; color:#FFF;}

/* Social Login Css Ends */


/* Counter css starts */

.home_counter{width:24%; float:right;}
.head-count-center{width:100%; float:left;}


#shiva{width: 100px; height: 100px; background: red;

       border-radius: 50px;
       float:left;
       margin:5px;
}

.talkbubble_right{float:right;}

.count
{
    line-height: 50px; text-align:center;
    color:#333;
    font-size:14px; width:100%; margin-top:22px; float:left;
}
.count_txt{width:100%; float:left; margin-top:23px; text-align:center; color:#479AC3; font-size:13px;}

#talkbubble {
    width: 87px;
    height: 87px;
    background: #CCC;
    position: relative;
    border-radius:100%;
    float:left;
    margin:14px 0 31px; box-shadow:5px 6px 6px rgb(71, 154, 195);
}

.linker
{
    font-size : 20px;
    font-color: black;
}


/* Counter css ends */

/* Login page Css Ends */



/* Register Page start */

.reg-home{width:45%;  margin:0px auto 0px;}
.reg-home-inner{width:100%; float:left; background:#479AC3; padding:40px; border:5px solid #FFF; border-radius:5px;}
.reg-home form .firstname {width:100%; float:left;}
.reg-home form .firstname input{width:100%; float:left; padding:15px; border:1px solid #CCC; outline:none; font-size:15px; box-shadow:3px 3px 5px #479AC3 inset; border-radius:5px; margin-top:18px; background:#FFF;}
.reg-home select{width:100%; float:left; padding:16px 15px; border:1px solid #CCC; outline:none; font-size:15px; box-shadow:3px 3px 5px #479AC3 inset; border-radius:5px; margin-top:18px; background:#FFF url(../images/black_arrow1.png) no-repeat 96% center; -moz-appearance:none; -webkit-appearance:none; -o-appearance:none;}
.al_login{width:100%; text-align:center; float:left; font-size:14px; color:#FFF; margin-top:15px;}
.al_login a{color:#454545;}
.al_login a:hover{color:#FFF;}
.m_top_less{margin:37px 0px 19px 90px;}

.reg-home .social_login{width:55%; margin:0 auto; display:block; float:none; padding:0;}

/* Register Page Ends */






/* User Page start */

.referel-messages{width:100%; float:left; background:#7A919F ; padding:10px 0;}
.referel{width:33%; float:left;}
.referel_img{width:70px; float:left; cursor:pointer;}
.referel_img img{width:35px; height:35px; float:left;}
.referel_img .ref_num{width:100%; float:left; font-size:14px; color:#FFF;}
.referel_img:hover .ref_num{color:#000;}

.knw_hub{width:35%; float:left; margin-top:10px;}
.knw_hub input{width:94%; float:left; outline:none; border:1px solid #CCC; padding:8px 38px 8px 8px; font-size:13px;}
.knw_hub i{margin-left: -34px; margin-top: 0px; background: rgb(6, 139, 200) none repeat scroll 0% 0%; color: #FFF; padding: 9px;  cursor:pointer;}


.messages{width:247px; float:right; cursor:pointer;}
.msg_img{width:60px; float:left;}
.msg_img img{width:35px; height:35px; float:left;}
.msg_img .msg_num{float:left; width:100%; color:#FFF; font-size:14px;}
.msg_img:hover .msg_num{color:#000;}
.msg_img i{color:#BB1317; font-size:30px; margin-top:4px;}


.user-information{width:100%; float:left; background:#f0f0f0; padding:45px 0;}
.user-search{width:20%; float:left; margin-right:20px;}
.mentor_search{width:78%; float:left;}
.mentor_search input{width:99%; float:left; padding:9px 37px 9px 9px; border:1px solid #CCC; outline:none;}
.mentor_search i{font-size:15px; margin:1px 0 0 -29px; cursor:pointer; background:#479AC3; padding:12px 8px 9px; color:#FFF;}

.mentor_prf{width:60%; float:left; border:1px solid #CCC; padding:12px; margin-top:25px;}

.mentor_information{width:100%; float:left; margin-top:5px;}
.mentor_information .mentor_user{width:100%; float:left; margin:5px 0;}
.mentor_information .mentor_user .mentor_user_img{width:35%; /* float:left; */}
.mentor_information .mentor_user .mentor_user_img img{width:80px; height:80px; border:3px solid #CCC; margin:0 auto; display:block; border-radius:11px;}

.mentor_information .mentor_user .yellow img{border:3px solid yellow;} 
.mentor_information .mentor_user .white img{border:3px solid white;} 
.mentor_information .mentor_user .red img{border:3px solid red;} 
.mentor_information .mentor_user .green img{border:3px solid green;} 
.mentor_information .mentor_user .black img{border:3px solid black;} 

.mentor_information .mentor_org .yellow img{border:3px solid yellow !important;} 
.mentor_information .mentor_org .white img{border:3px solid white !important;} 
.mentor_information .mentor_org .red img{border:3px solid red !important;} 
.mentor_information .mentor_org .green img{border:3px solid green !important;} 
.mentor_information .mentor_org .black img{border:3px solid black !important;} 


.mentor_information .mentor_user .mentor_txt{width:100%; float:left; text-align:center; margin-top:5px; font-size:14px; line-height:21px;}

.mentor_information .mentor_org{width:100%; float:left; margin:5px 0;}
.mentor_information .mentor_org .mentor_org_img{width:35%; /* float:left; */}
.mentor_information .mentor_org .mentor_org_img img{width:80px; height:80px; border:3px solid #CCC; border-radius:11px; margin:0 auto; display:block;}
.mentor_information .mentor_org .mentor_txt{width:100%; float:left; text-align:center; font-size:14px; line-height:21px; margin-top:4px;}

.prf_sm_img{float:right; width:21px; margin-top: -81px;}
.prf_sm_img img{width:20px; height:20px; float:left; margin-bottom: 5px;}



.user-profile{width:49%; float:left; margin-right:25px; margin-top:63px;}
.user-profile .user_prf{width:100%; float:left;}
.user-profile .user-profile_txt{width:57%; float:left;}
.user-profile .user-profile_txt p{width:100%; float:left; font-size:14px; line-height:27px; margin-top:20px;}
.user-profile .user-profile_txt .new-para{margin-top:20px;}

.user-profile .user-profile_right{width:35%; float:right;}
.user-profile .profile_extratxt{font-size:14px; line-height:23px; margin-top:25px; float:left; text-align:justify; width:100%;}
.profile_extratxt a{color:#454545;}
.profile_extratxt a:hover{color:#068BC8;}

.ask_give{width:100%; float:left; margin-top:20px;}
.prf_ask{width:100%; float:left; margin-top:35px;}
.prf_ask h2{width:100%; float:left; font-size:25px; font-weight:normal; text-transform:uppercase;}
.prf_ask select{ width:127px; float:left; outline:none; padding:9px; border:1px solid #CCC; font-size:14px; margin:10px 15px 0 0; -moz-appearance:none; -webkit-appearance:none; -o-appearance:none; background:#FFF url(../images/black_arrow1.png) no-repeat 101px center;}

.ask_input{width:100%; float:left;}
.ask_input input{width:95%; float:left; padding:12px; font-size:14px; outline:none; border:1px solid #CCC;}


.user-discussion{width:25%; float:right; margin-top:55px;}
.user-discussion h2{width:100%; float:left; font-size:25px; font-weight:normal; text-transform:uppercase;}
.user_ul{width:100%; float:left; margin-top:19px;}
.user_ul ul{list-style-type:none; border-bottom:4px solid #CCC; padding-bottom:5px;}
.user_ul ul li{font-size:14px; display:inline-block; padding-right:13px;}
.user_ul ul li a{color:#479AC3;}

.discuss_user{width:100%; float:left;}
.discuss_user .discuss_user_left{width:80%; float:left; margin-top:20px;}
.discuss_user_img{width:25%; float:left;}
.discuss_user_img img{width:45px; height:45px; margin-right:15px; border-radius:100%;}
.discuss_user_txt{width:75%; float:left;}
.discuss_user_txt h3{width:100%; float:left; font-size:14px; color:#479AC3; cursor:pointer;}
.discuss_user_txt p{font-size:13px;}
.dis_num{background:green; border:1px solid #FFF; text-align:center; padding:3px 5px; border-radius:9px; margin-right:5px; color:#FFF; float:left; font-size:12px;} 


.discuss_user_right{width:19%; float:right; margin-top:25px;}
.discuss_user_right i{color:green;}
.discuss_user_right .dis_cmt{font-size:13px;  cursor:pointer;}


.user_chat{width:100%; float:left; margin-top:34px;}
.chat_head{width:93%; float:left; font-size:15px; text-transform:uppercase; background:#454545; color:#FFF; padding:8px 18px;}

.chat_head i{margin-left:25px; font-size:18px; color:#FFF;}

.user_chat_inner{width:90%; float:left; border:1px solid #CCC; padding:25px; background:#FFF;}
.user_chat_inner form{width:100%; float:left;}
.user_chat_inner form .chat_nme{width:93%; float:left; outline:none; border:1px solid #CCC; padding:10px 15px; font-size:14px; margin-top:15px;}
.user_chat_inner form textarea{width:93%; float:left; outline:none; border:1px solid #CCC; padding:10px 15px; font-size:14px; height:50px; resize:none; margin-top:15px;}
.user_chat_inner form .chat_snd{width:134px; float:right; outline:none; border:1px solid #479AC3; background:#479AC3; color:#FFF; padding:10px 15px; font-size:14px; margin-top:20px; cursor:pointer; text-transform:uppercase; }
.user_chat_inner form .chat_snd:hover{background:#FFF; border:1px solid #479AC3; color:#479AC3;}

.user_chat_inner .chat_left{width:75%; float:left; background:#f0f0f0; padding:8px 12px; font-size:14px; border-radius:8px; position:relative;}

.user_chat_inner .chat_right{width:55%; float:right; background:#ccc; padding:8px 12px; font-size:14px; margin:8px 0;  border-radius:8px}
.user_chat_inner .chat_snd{width:100%; float:left; margin-top:14px;}
.user_chat_inner .chat_snd input{width:75%; float:left; outline:none; padding:8px; font-size:14px; border:1px solid #CCC;}
.user_chat_inner .chat_arw{background:green; color:#FFF; border-radius:100%; width:35px; height:35px; margin-left:20px; float:left; cursor:pointer;}
.user_chat_inner .chat_arw i{text-align:center; margin-top:9px; display:block;}

.font_size{font-size:20px; text-transform:uppercase;}


/* User Page ends */



/* Knowldge Hub Page Starts */

.khub_page{width:100%; float:left; background:#f0f0f0; padding:25px 0px; min-height:600px;}
.block{border:1px solid #CCC; padding:35px 27px; width:93%;}


.wrapper {margin: 41px auto;
          padding: 56px 85px;
          width: 74%; background:#FFF;
}

.wrapper ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.wrapper ul.tabs li {
    border: gray solid 1px;
    border-bottom: none;
    float: left;
    margin: 0px 12px 0px 0px;
    padding: 6px 21px; font-size:14px;
}



.wrapper ul.tabs li a {
    color: #479AC3;
    font-weight: normal; text-transform:uppercase;
    text-decoration: none;
}
.wrapper ul.tabs li.active {
    background: #479AC3;
}
.wrapper ul.tabs li.active a {
    color: white;
}
.clr {
    clear: both;
}
article {

    padding: 0 1em;
}

article ul{list-style-type:none;}
article li{font-size:14px; line-height:25px; margin-top:8px; margin-left:22px; text-indent:-15px;}


.list_arrow{}
.list_arrow i{color:#479AC3; font-size:16px; margin-right:10px;}
article p{font-size:14px; line-height:25px; margin-top:8px;}
.wrapper h3{width:50%;  font-size:20px; font-weight:normal; color:#479AC3; text-transform:uppercase; margin-bottom:46px;}
.wrapper .wrapper_search{width:50%; float:right;}

.wrapper .wrapper_search input{width:94%; float:left; outline:none; border:1px solid #CCC; padding:8px 38px 8px 8px; font-size:13px;}
.wrapper .wrapper_search i{margin-left: -34px; margin-top: 0px; background: rgb(6, 139, 200) none repeat scroll 0% 0%; color: #FFF; padding: 9px;  cursor:pointer;}


/* Knowldge Hub page ends */




/* profile page Starts */

.ment_img{width:35px; float:left;  margin-right:6px;}
.ment_img img{width:25px; height:25px;}
.ment_txt{width:100%; float:left;}
.ment{margin-right:8px; float:left;}
.ment_num{float:left; font-weight:normal; font-size:12px; display:none;}

.profile_extratxt input{width:80%; float:left; padding:10px 15px; font-size:14px; outline:none; border:1px solid #CCC; background: #FFF url(../images/black_arrow1.png) no-repeat 464px center; cursor:pointer;}


.profile_extratxt .profile_option{width:80%; float:left; border:1px solid #CCC; background:#FFF; padding:15px;}
.profile_extratxt .profile_option ul{list-style-type:none;}
.profile_extratxt .profile_option ul li{font-size:14px; margin-left:22px; text-indent:-15px;}

.profile_extratxt .contact{float:left; margin-top:10px; margin-right:26px;}
.profile_extratxt .contact i{font-size:17px; margin-right:8px;}

.profile_extratxt .social_contact{float:left; width:45px; height:45px; border:2px solid #ccc; border-radius:100%; margin-right:25px; cursor:pointer;}
.profile_extratxt .social_contact i{font-size:20px; text-align:center; margin:11px auto 0; display:block; color:#FFF;}
.profile_extratxt .social_contact .fb{color:#4867AA;}
.profile_extratxt .social_contact .tw{color:#00ACED;}
.profile_extratxt .social_contact .link{color:#0077B5;}
.profile_extratxt .social_contact .google{color:#EA4335;}


.profile_extratxt_right{width:45%; float:right;}
.upload_files{width:100%; float:left; border:1px solid #479AC3; background:#479AC3; padding:8px 0; text-align:center; margin-top:20px;}



.upload_files .a_up{color:#FFF; font-size:14px;}
.upload_files .up_option{width:100%; float:left;}
.upload_files .up_option ul{list-style-type:none; margin-top:25px;}
.upload_files .up_option ul li{font-size:14px; margin:5px 0;}
.upload_files .up_option ul li a{color:#FFF;}



/* profile page ends */



/* Data analytic page s */


.data-analytic{width:100%; float:left; background:#f0f0f0; min-height:650px;}
.data-analytic h2{width:100%; float:left; text-align:center; font-size:25px; font-weight:normal; text-transform:uppercase; color:#479AC3; margin-top:58px;}
.data-map{width:60%; float:left; margin-top:55px;}
.data-map img{width:700px; height:100%;}
.data-graph{width:30%; float:right; margin-top:60px;}
.data-graph img{width:313px; height:100%;}



/* Data analytic page ends */



/* Email templates page S */

.user_email{width:100%; float:left; background:#f0f0f0; min-height:600px; padding:45px 0;}
.all_emails{width:80%; margin:0 auto; background:#FFF; padding:35px 45px 45px 45px; height:965px;}
.email_specific{width:100%; float:left;}
.email_specific h2{width:100%; float:left; color:#479AC3; font-size:20px; font-weight:normal; text-transform:uppercase; margin:20px 0 15px;}
.email_specific_option{width:100%; float:left; border:1px solid #CCC; padding:8px 0;}
.email_specific_option .item_1{width:95%; float:left; padding:8px 24px; border-bottom:1px solid #CCC; cursor:pointer;}
.email_specific_option .item_1:last-child{border-bottom:none;}
.email_specific_option .item_1 .item_enail{font-size:14px; width:39%; float:left;}
.email_specific_option .item_1 .item_txt{font-size:14px; width:35%; float:left;}
.email_specific_option .item_1 .item_date{font-size:14px; width:55px; float:right;}
.email_specific_option .item_1:hover{background:#f0f0f0;}


/* Email template page ends*/ 


/* Feedback Page Starts */

.feedback_page{width:100%; float:left; background:#f0f0f0; min-height:555px; padding:45px 0;}
.feedback_form{width:34%; margin:100px auto 0; background:#FFF; padding:35px; height:316px;}
.feedback_form h2{width:100%; float:left; font-size:20px; text-transform:uppercase; color:#479AC3; font-weight:normal; margin:0 0 25px; text-align:center;}

.feedback_form form{width:100%; float:left;}
.feedback_form form .firstname input{width:93%; float:left; outline:none; padding:8px 15px; border:1px solid #CCC; font-size:14px;}
.feedback_form form textarea{width:93%; float:left; outline:none; padding:8px 15px; border:1px solid #CCC; font-size:14px; resize:none; height:50px; margin:10px 0;}
.feedback_form form .feed_submit{width:100px; float:right; outline:none; padding:8px 15px; border:1px solid #479AC3; font-size:14px; margin-top:15px; background:#479AC3; color:#FFF; text-align:center; text-transform:uppercase; cursor:pointer;}
.feedback_form form .feed_submit:hover{background:#FFF; border:1px solid #479AC3; color:#479AC3;}
.feedback_form form .smiley_icons{width:58%; margin:180px auto 0px;}
.feedback_form form .smiley_icons img{width:30px; height:30px; margin-right:15px; cursor:pointer; float:left;}




/* Feedback Page Ends */



/* Sections Ends */





/* Footer Start */


footer{width:100%; float:left; background:#454545; padding:25px 0;}
footer .foot_div{width:100%; float:left;}
footer .foot_div ul{list-style-type:none; text-align:center;}
footer .foot_div ul li{display:inline-block; font-size:14px; border-right:2px solid #FFF;}
footer .foot_div ul li:nth-child(5){border-right:none;}
footer .foot_div ul li a{color:#FFF; padding:5px 18px;}
footer .foot_div ul li a:hover{color:#479AC3;}

/* Footer Ends */



/* Responsive Stats */

@media only screen and (max-width: 1199px) {
    .bg_section{padding-left:15px; padding-right:15px;}


}
